
<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Wishlister Sign Up
      </h1>
    </div>
  </div>
</section>

<%= form_for @user, html: { class: "auth_form" } do |f| %>
    <ul>
        <li>
            <%= f.label :username %>
            <%= f.text_field :username %>
        </li>
        <li>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </li>
    </ul>
    <%= f.submit "Sign Up" %>
<% end %>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Wishlister</strong> by Abid & Antonio </a><br><strong>Styled</strong> by Antonio & Abid<br>
      <em>Double A Battery Productions</em>
    </p>
  </div>
</footer>
