<h1><%= @item.name %></h1>

<h2><%= @item.price %></h2>

<h2><%= @item.description %></h2>

<%# add image of item %>

<h4><%= "Add #{@item.name} to:" %></h4>

<div>
    <%= form_for(@wishlist_item) do |f| %>
            <%= f.collection_select :wishlist_id, Wishlist.all, :id, :name %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= button_to "Add Item", wishlist_items_path, method: :post %>
    <% end %>
</div>
<br>

<%= button_to "Return to Item's Index", items_path, method: :get  %>