<h1>Create Your Wishlist</h1>

<%= form_for(@wishlist) do |f| %>
    <div>
        <%= f.label "What would you like to name your Wishlist?" %><br>
        <%= f.text_field :name %>
    </div>
    <br><div>
        <%= f.label "What is the Occasion for the Wishlist?"%><br>
        <%= f.select :category, options_for_select(["Wedding", "Bridal Shower", "Baby Shower", "Bat Mitzvah", "Quinceanera", "Birthday", "Christmas"]) %>
    </div><br>
    <div>
        <%= f.submit "Create Wishlist" %>
    </div><br>
<% end %>

<div>
    <%= button_to "Cancel Wishlist", wishlists_path, method: :get %>
</div><br>

<div>
    <% if @wishlist.errors %>
        <% @wishlist.errors.full_messages.each do |error| %>
        <div>
            <li>
                <%= error %>
            </li>
        </div>
        <% end %>
    <% end %>
</div>
