
<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= @wishlist.name.upcase %><br><br>
        <%= @wishlist.category %>
      </h1>

        <div>
            <% if @wishlist_items.count == 0 %>
                <%= "The wishlist is currently empty."%>
            <% else %>
                <% @wishlist_items.each do |wishlist_item| %>
                    <ul>
                        <li>
                            <%= link_to "#{wishlist_item.item.name} - #{wishlist_item.item.description}", item_path(wishlist_item.item) %>
                            <%= button_to "Remove Item from Wishlist", wishlist_item_path(wishlist_item), method: :delete %>
                        </li>
                    </ul>
                <% end %>
            <% end %>
            <%= button_to "View Items to Add", items_path, method: :get %><br>
            <%= button_to "Edit Wishlist", edit_wishlist_path(@wishlist), method: :get %><br>
            <%= button_to "Delete Wishlist", wishlist_path(@wishlist), method: :delete %><br>
            <%= button_to "Return to Wishlist Index", wishlists_path, method: :get %><br>
        </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Wishlister</strong> by Abid & Antonio </a><br><strong>Styled</strong> by Antonio and Abid<br>
      <em>Double A Battery Productions</em>
    </p>
  </div>
</footer>