<h1><%= @wishlist.name %></h1>
<h2><%= @wishlist.category %></h2>

<div>
    <% if @wishlist_items.count == 0 %>
        <%= "The wishlist is currently empty."%>
    <% else %>
        <% @wishlist_items.each do |wishlist_item| %>
            <ul>
                <li>
                    <%= link_to "#{wishlist_item.item.name} - #{wishlist_item.item.description}", item_path(wishlist_item.item) %>
                    <%= button_to "Remove Item from Wishlist", wishlist_item_path(wishlist_item), method: :delete %>
                </li>
            </ul>
        <% end %>
    <% end %>
</div>
<br>

<%= button_to "Edit Wishlist", edit_wishlist_path(@wishlist), method: :get %>
<%= button_to "Delete Wishlist", wishlist_path(@wishlist), method: :delete %>
<%= button_to "Return to Wishlist Index", wishlists_path, method: :get %>
